<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.headdiary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 打开internet的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 查看网络连接状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.headdiary.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden" >
        <activity
            android:name="com.example.headdiary.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.headdiary.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.example.headdiary.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.example.headdiary.UnfinishedDiaryActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.example.headdiary.HeadDiaryFormActivity"
            android:label="@string/title_activity_new_head_diary" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.StartTimeDialog"
            android:label="@string/title_activity_start_time_diaglog"
            android:theme="@style/MyDialogStyle" >
        </activity>
         <activity
            android:name="com.example.headdiary.hddialog.StartTimeQuestion"
            android:label="@string/title_activity_start_time_diaglog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.EndTimeDialog"
            android:label="@string/title_activity_end_time_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
         <activity
            android:name="com.example.headdiary.hddialog.EndTimeQuestion"
            android:label="@string/title_activity_end_time_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.AchePositionDialog"
            android:label="@string/title_activity_ache_position_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
         <activity
            android:name="com.example.headdiary.hddialog.AchePositionQuestion"
            android:label="@string/title_activity_ache_position_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.AcheTypeDialog"
            android:label="@string/title_activity_ache_type_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
         <activity
            android:name="com.example.headdiary.hddialog.AcheTypeQuestion"
            android:label="@string/title_activity_ache_type_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.AcheDegreeDialog"
            android:label="@string/title_activity_ache_degree"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.AcheDegreeQuestion"
            android:label="@string/title_activity_ache_degree"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.ActivityAggravateDialog"
            android:label="@string/title_activity_activity_aggravate_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
         <activity
            android:name="com.example.headdiary.hddialog.ActivityAggravateQuestion"
            android:label="@string/title_activity_activity_aggravate_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.ProdromeDialog"
            android:label="@string/title_activity_prodrome_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
         <activity
            android:name="com.example.headdiary.hddialog.ProdromeQuestion"
            android:label="@string/title_activity_prodrome_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.CompanionDialog"
            android:label="@string/title_activity_companion0_diaglog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.CompanionQuestion"
            android:label="@string/title_activity_companion0_diaglog"
            android:theme="@style/MyDialogStyle" >
        </activity>
          <activity
            android:name="com.example.headdiary.hddialog.CompanionQ1"
            android:label="@string/title_activity_companion0_diaglog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.MitigatingDialog"
            android:label="@string/title_activity_mitigating_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.MitigatingQuestion"
            android:label="@string/title_activity_mitigating_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.PrecipiatingDialog"
            android:label="@string/title_activity_precipiating_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
         <activity
            android:name="com.example.headdiary.hddialog.PrecipiatingQuestion"
            android:label="@string/title_activity_precipiating_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.hddialog.AddDrugDialog"
            android:label="@string/title_activity_add_drug_dialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.example.headdiary.MainDoctorActivity"
            android:label="@string/title_activity_online_doctor" >
        </activity>
        <activity
            android:name="com.example.headdiary.MainSettingActivity"
            android:label="@string/title_activity_main_setting" >
        </activity>
        <activity
            android:name="com.example.headdiary.DoctorChatActivity"
            android:label="@string/title_activity_doctor_chat" >
        </activity>
        <activity
            android:name="com.example.headdiary.MainDocumentActivity"
            android:label="@string/title_activity_main_document" >
        </activity>
        <activity
            android:name="com.example.headdiary.MainAnalysisActivity"
            android:label="@string/title_activity_main_analysis" >
        </activity>
          <activity
            android:name="com.example.headdiary.UIADemoActivity"
            android:label="@string/title_activity_main_analysis" >
        </activity>
        <activity
            android:name="com.example.headdiary.RegisterActivity"
            android:label="@string/title_activity_register" 
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
    </application>

</manifest>
